# data folders except sample files/folders
data/**
!data/sample_*.mp4
PeekingDuck/data/output/*.mp4
!PeekingDuck/data/output/sample/*.mp4

# weights folders
/src/peekingduck_weights/**

# cached folders
**/__pycache__/**
